<!DOCTYPE html>
<html>
    <head>
        <title>Courses</title>
    </head>
    <body>
        <h1>Courses list</h1>
        <h1 align = "right"><a href = "/">Go to Students</a></h1>
        {%if courses == []%}
            <p>No courses found. Add the courses now!</p>
        {%else%}
            <table id = "all-courses">
                <tr>
                    <th>SNo</th>
                    <th>Course Code</th>
                    <th>Course Name</th>
                    <th>Course Description</th>
                    <th>Actions</th>
                </tr>
                {%for course in courses%}
                <tr>
                    <td>{{course.course_id}}</td>
                    <td><a href = "/course/{{course.course_id}}">{{course.course_code}}</a></td>
                    <td>{{course.course_name}}</td>
                    <td>{{course.course_description}}</td>
                    <td>
                        <a href = "/course/{{course.course_id}}/update">Update</a>
                        <a href = "/course/{{course.course_id}}/delete">Delete</a>
                    </td>
                </tr>
                {%endfor%}
            </table>
        {%endif%}
        <a href = "/course/create" style = "padding-left: 7em;">+ Add course</a>
    </body>
</html>